<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings><add name="SLS_Intakes_DataPumpEntities" connectionString="metadata=res://*/SLS_Intakes_DataPump.csdl|res://*/SLS_Intakes_DataPump.ssdl|res://*/SLS_Intakes_DataPump.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN-UITS-CSLT028;initial catalog=SLS_Intakes_DataPump;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SLS_LegalServicesEntities" connectionString="metadata=res://*/SLS_LegalServices.csdl|res://*/SLS_LegalServices.ssdl|res://*/SLS_LegalServices.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN-UITS-CSLT028;initial catalog=SLS_LegalServices;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>